.mw-upload-bookletLayout-filePreview {
	inline-size: 100%;
	block-size: 1em;
	background-color: #eaecf0;
	background-size: cover;
	background-position: center center;
	/* Same as padding on `.oo-ui-bookletLayout-stackLayout > .oo-ui-panelLayout`,
	 * equals 20px at default font size */
	padding: 1.42857143em;
	margin: -1.42857143em;
	margin-block-end: 1.42857143em;
	position: relative;
}

.mw-upload-bookletLayout-infoForm.mw-upload-bookletLayout-hasThumbnail .mw-upload-bookletLayout-filePreview {
	block-size: 10em;
}

.mw-upload-bookletLayout-filePreview p {
	line-block-size: 1em;
	margin: 0;
}

.mw-upload-bookletLayout-filePreview .oo-ui-progressBarWidget {
	border: 0;
	border-radius: 0;
	background-color: transparent;
	position: absolute;
	inset-block-end: 0;
	inset-inline-start: 0;
	inset-inline-end: 0;
}

.mw-upload-bookletLayout-filePreview .oo-ui-progressBarWidget-bar {
	block-size: 0.5em;
}
