/*!
 * Display neat icons on redirect pages.
 */

/* stylelint-disable selector-class-pattern */

/* Hide, but keep accessible for screen-readers. */
.redirectMsg p {
	overflow: hidden;
	block-size: 0;
}

.redirectText {
	list-style: none;
	display: inline;
	/* shared.css has some very weird directionality-specific rules for 'ul' we need to override,
	 * search for "Correct directionality when page dir is different from site/user dir" */
	/* stylelint-disable declaration-no-important */
	margin-block: 0;
	margin-inline: !important;
	padding-block: 0;
	padding-inline: !important;
	/* stylelint-enable declaration-no-important */
}

/* @noflip */
.mw-content-ltr .redirectText li {
	display: inline;
	margin: 0;
	padding: 0;
	padding-inline-start: 42px;
	background: transparent url( images/nextredirect-ltr.svg ) bottom left no-repeat;
}

/* @noflip */
.mw-content-ltr .redirectText li:first-child {
	padding-inline-start: 47px;
	background: transparent url( images/redirect-ltr.svg ) bottom left no-repeat;
}

/* @noflip */
.mw-content-rtl .redirectText li {
	display: inline;
	margin: 0;
	padding: 0;
	padding-inline-end: 42px;
	background: transparent url( images/nextredirect-rtl.svg ) bottom right no-repeat;
}

/* @noflip */
.mw-content-rtl .redirectText li:first-child {
	padding-inline-end: 47px;
	background: transparent url( images/redirect-rtl.svg ) bottom right no-repeat;
}
