/* Styles for collapsible lists of templates used and hidden categories */
.mw-editfooter-toggler {
	cursor: pointer;
	background-position: left center;
	padding-inline-start: 16px;
}

.mw-editfooter-list {
	margin-block-end: 1em;
	margin-inline-start: 2.5em;
}

/* Show/hide animation is incorrect if the table has a margin set. Extra
 * ".wikitable" is needed in the selector for CSS specificity. */
/* stylelint-disable-next-line selector-class-pattern */
.wikitable.preview-limit-report {
	margin: 0;
}
