.mw-widgets-tableWidget > .mw-widgets-tableWidget-rows {
	float: left;
	clear: left;
	inline-size: 100%;
}

.mw-widgets-tableWidget.mw-widgets-tableWidget-no-labels .mw-widgets-rowWidget-label {
	display: none;
}
