.mw-widgets-rowWidget {
	clear: left;
	float: left;
	margin-block-end: -1px;
	inline-size: 100%;
}

.mw-widgets-rowWidget-label {
	display: block;
	margin-inline-end: 5%;
	padding-block-start: 0.5em;
	inline-size: 35%;
}

.mw-widgets-rowWidget > .mw-widgets-rowWidget-label {
	float: left;
}

.mw-widgets-rowWidget > .mw-widgets-rowWidget-cells {
	float: left;
}

.mw-widgets-rowWidget > .mw-widgets-rowWidget-cells > .oo-ui-inputWidget {
	float: left;
	margin-inline-end: -1px;
	inline-size: 8em;
}

.mw-widgets-rowWidget > .mw-widgets-rowWidget-cells > .oo-ui-inputWidget > input,
.mw-widgets-rowWidget > .mw-widgets-rowWidget-delete-button > .oo-ui-buttonElement-button {
	margin: 0;
	border-radius: 0;
}
