/*!
 * Styles for elements of the editing form, loaded only when JavaScript is enabled.
 */

.mw-toolbar-editbutton {
	inline-size: 23px;
	block-size: 22px;
	cursor: pointer;
	vertical-align: middle;
	display: inline-block;
}
